*{
    margin: 0;
    padding: 0;
}
body{
    color: rgb(88, 88, 88);
}
a{
    text-decoration: none;
    color: rgb(59, 59, 59);
}
main{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.menu{
    width: 20%;
    padding: 10px 15px;
    display: flex;
    align-items: flex-start;
    /* height: 100vh; */
    border-right: 1px solid rgb(66, 66, 66);
}
.menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.menu ul li{
    list-style-type: none;
    padding: 0px 5px;
    transform: rotate(-90deg);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.menu ul li a{
    width: 100%;
}
.circle{
    width: 8px;
    height: 5px;
    background-color: red;
    margin-right: 8px;
    border-radius: 100%;
}
.box-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 10px;
}
.box{
    width: 100%;
    height: 420px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    margin-bottom: 20px;
}
.box-img{
    width: 100%;
    height: 50%;
    position: relative;
}
.box-img img:first-child{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h1{
    font-size: 1.3rem;
}
.box-txt{
    padding: 15px;
    position: relative;
}
.box-txt p{
    margin: 10px 0;
    color: black;
}
.box-txt h1{
    font-size: 1.2rem;
}
.title{
    padding: 15px;
}
.menu-icon{
    position: absolute;
    top: 2%;
    right: 0;
}
.bookmark{
    position: absolute;
    left: 5px;
}
.share{
    position: absolute;
    right: 5px;
}
.active span{
    width: 8px;
    height: 5px;
    background-color: red;
    margin-right: 8px;
    border-radius: 100%;
}
.edite-menu{
    width: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 6px;
}
.edite-menu img:last-child{
    margin-top: 15px;
}